.btn {
  width: 100px;
  height: 40px;
  border: 1px solid black;
  color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all .4s ease;
  margin: 0 auto;
}

.btn:hover {
  background-color: crimson;
  border: 1px solid crimson;
}
